<!DOCTYPE html>
<html>
  <head>
    <title>应用列表</title>
    <link rel="icon" type="image/x-icon" href="/images/infinity.ico">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body class="white">
    <!--标题栏-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-myprimary">
      <div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 max-height">
        <a class="navbar-brand left" href="#">
          <img class="navicon" src="/images/infinity.png"/>
        </a>
        <p class="nav-line">应用列表</p>
        <div class="inline max-height right">
          <div class="dropdown" style="height:50px;">
            <div role="button" class="dropdown-toggle line-button" id="dropdownMenu" data-toggle="dropdown">
              <p style="line-height:50px;font-size:18px;"><%= user.truename %></p>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="max-width:100px;">
              <li class="drop-line">
                <a href="javascript:document:cp_form.submit();">修改密码</a>
              </li>
              <li class="drop-line">
                  <a href="javascript:document:logout_form.submit();">登出</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--hidden form，用来传递参数-->
    <form id="logout_form" action="/logout" method="post">

    </form>
    <form id="cp_form" action="/passwd" method="post">
      <input type="hidden" name="username" value=<%= user.username %> />
    </form>

    <!--app列表-->
    <% clients.forEach(function(client){ %>
    <div class="app col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8" style="padding-left:0;padding-right:0;">
      <!--卡片的标题栏-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-myprimary" style="max-height:50px;padding-left:15px;padding-right:15px;">
        <div class="" style="max-height:50px;padding-left:0px;padding-right:0px;">
          <a class="navbar-brand left" href="#">
            <img class="navicon" src="/images/<%= client.name %>.png"/>
          </a>
          <p class="nav-line"><%= client.name %></p>
          <div class="inline max-height right">
            <!--跳转页面的优化，避免出现，登录->打开->再次登录的局面-->
            <form action="/openApp" method="post">
              <input type="hidden" name="clientUrl" value=<%= client.clientUrl %>/>
              <button class="btn btn-success my-btn" type="submit">跳转到应用</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="description" style="padding-left: 15px;padding-right: 15px;min-height:100px;">
        <h4 style="line-height: 150%;"><%= client.clientDes %></h4>
      </div>
    </div>
    <% }) %>
    <!--正在开发字样-->
    <div class="app col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8" style="height:200px;margin-top:50px;padding-left:0;padding-right:0;text-align:center;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-myprimary" style="max-height:50px;padding-left:15px;padding-right:15px;">
      </nav>
      <h1 style="margin-top:50px;color:#C0C0C0;">正在开发中...</h1>
    </div>
  </body>
</html>
